<nav class="navbar">
  <div class="nav-container">
    <div class="nav-brand">
      <h1>Bill Maker</h1>
    </div>
    <ul class="nav-menu">
      <li class="nav-item">
        <LinkTo @route="index" class="nav-link">
          <i class="icon-home"></i>
          Home
        </LinkTo>
      </li>
      <li class="nav-item">
        <LinkTo @route="products" class="nav-link">
          <i class="icon-products"></i>
          Products
        </LinkTo>
      </li>
      <li class="nav-item">
        <LinkTo @route="billing" class="nav-link">
          <i class="icon-billing"></i>
          Billing
        </LinkTo>
      </li>
    </ul>
  </div>
</nav>

<main class="main-content">
  {{yield}}
</main>